<table class="table table-striped table-bordered table-hover table-condensed">
	<tr>
		<th>Name</th>
    <td><%= @equipe.nom %></td>
  </tr>
	<tr>
		<th>Ville</th>
		<td><%= @equipe.ville %></td>
	</tr>
</table>
