<h2>Bienvenue dans l'application du Tournoi</h2>
<p>Exercice proposé par Troizaire sur 4 phases.</p>
<ul>
  <li>
    Phase 1 : Création d'une équipe
  </li>
  <li>
    Phase 2 : Création d'un joueur
  </li>
    <li>
    Phase 3 : Création d'un match
  </li>
  <li>
    Phase 4 : Création d'un tournoi
  </li>
</ul>

<div class="col mb-3">
      <ul class="nav flex-column">
        <li class="nav-item mb-2"></li>
      </ul>
    </div>
